<h1>Welcome to HNClone!</h1>
<p>Here's a list of all stories:</p>
	<ul>
<% @stories.each do |story| %>
	<li><%= link_to story.title, story.url %> | <%= story.url %></li>
	<% end %>
	</ul>
	<br>
	<%= paginate @stories %>